@import "../styles/variables.scss";

.mainContainer {
  background-color: $accent-color;
  min-height: calc(100vh - 190px); // Ocupa todo el alto de la ventana
  width: 100%; // Ocupa todo el ancho disponible
}

.mainRow {
  background-color: $primary-color;
  display: flex;
  flex-direction: row;
}

.infoCol {
  overflow: scroll;
  background: $light-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.infoCol2 {
  background-color: $primary-color;
  color: $secondary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.imageSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: auto;
  overflow: hidden;

  .backgroundImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
}

.personalInfo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: $spacing-4;
  width: 100%;
  height: auto;
  background-color: $primary-color;

}

.paymentInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: $spacing-4;
  width: 100%;
  height: auto;
  

  .paymentTitle {
    font-family: $font-primary;
    font-size: 0.8rem;
    color: $secondary-color;
    text-align: center;
    margin-bottom: $spacing-4;
  }

  .bankInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $spacing-7;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 50%;
  }
}
