@import "../styles/variables.scss";

.mainContainer {
  background-color: $primary-color;
  min-height: calc(100vh - 190px);
  width: 100%;
  padding: 0;
  margin: 0;
}

.mainRow {
  background-color: $primary-color;
  display: flex;
  flex-direction: row;
}

.infoCol {
  overflow: scroll;
  //background: $light-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: solid 5px $primary-color;
  border-left: solid 5px $primary-color;
  background-image: url("/images/background_4.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.infoCol2 {
  background-color: $primary-color;
  color: $secondary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.callToActionSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: auto;
  overflow: hidden;
  padding-top: $spacing-4;

  .backgroundImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: auto;
    //object-fit: cover;

    @media (max-width: $breakpoint-md) {
      width: 100%;
    }
  }
}

//---------------------------------
//Education section
//---------------------------------

.educationSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: $spacing-4;
  width: 100%;
  height: auto;
  background-color: $primary-color;

  .educationTitle {
    font-family: $font-primary;
    font-size: 2.5rem;
    color: $secondary-color;
    text-align: center;
    margin-bottom: $spacing-4;
  }
}

//---------------------------------
//Work experience section
//---------------------------------

.workExperience {
  //background-color: $light-color;
  padding: $spacing-4;
  width: 100%;
  height: auto;
  background-image: url("/images/background_4.png");
  background-size: cover;
  background-repeat: no-repeat;
}

//---------------------------------
//Services and specialities section
//---------------------------------

.servicesSection {
  padding-top: $spacing-8;
  padding-bottom: $spacing-8;
  width: 100%;
  height: auto;
  background-color: $primary-color;
  // background-image: url("/images/background_4.png");
  // background-size: cover;
  // background-repeat: no-repeat;

  .servicesText {
    margin-bottom: $spacing-4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .servicesTitle {
    font-family: $font-primary;
    font-size: 2.5rem;
    color: $light-color;
    text-align: center;
    margin-bottom: $spacing-4;
  }

  .servicesInstructions {
    color: $light-color;
    text-align: center;
    font-size: 1.2rem;
  }
}

//---------------------------------
//Products section
//---------------------------------

.productsSection {
  padding-top: $spacing-8;
  padding-bottom: $spacing-8;
  width: 100%;
  height: auto;
  //background-color: $light-color;
  background-image: url("/images/background_4.png");
  background-size: cover;
  background-repeat: no-repeat;

  .productsText {
    margin-bottom: $spacing-4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .productsTitle {
    font-family: $font-primary;
    font-size: 2.5rem;
    color: $primary-color;
    text-align: center;
    margin-bottom: $spacing-4;
  }

  .productsDescription {
    color: $primary-color;
    text-align: center;
    font-size: 1.5rem;
  }
}

//---------------------------------
// Image Gallery section
//---------------------------------
.imageGallerySection {
  padding-top: $spacing-8;
  padding-bottom: $spacing-8;
  width: 100%;
  height: auto;
  background-color: $primary-color;

  .imageGalleryCol {
    margin-bottom: $spacing-4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .galleryTitle {
      font-family: $font-primary;
      font-size: 2.5rem;
      color: $light-color;
      text-align: center;
      margin-bottom: $spacing-4;
    }
    .galleryDescription {
      color: $light-color;
      text-align: center;
      font-size: 1.2rem;
    }
    padding: $spacing-1;
    width: 100%;
    height: auto;
    background-color: $primary-color;
    padding-bottom: $spacing-3;
  }
}

//---------------------------------
// Payment section
//---------------------------------

.paymentSection {
  padding-top: $spacing-8;
  padding-bottom: $spacing-8;
  width: 100%;
  height: auto;
  //background-color: $light-color;
  background-image: url("/images/background_4.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.paymentInfo {
  margin-bottom: $spacing-4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .paymentTitle {
    font-family: $font-primary;
    font-size: 2.5rem;
    color: $primary-color;
    text-align: center;
    margin-bottom: $spacing-4;
  }
  .paymentDescription {
    color: $primary-color;
    text-align: center;
    font-size: 1.2rem;
  }

  .bankInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $spacing-7;
    width: 100%;
    height: auto;
    padding-top: $spacing-6;
    border-radius: 50%;
  }
}

//---------------------------------
// Video section
//---------------------------------
.videoSection{
  background-color: $primary-color;
  padding-top: $spacing-4;
  padding-bottom: $spacing-4;
  width: 100%;
  height: auto;
}

.videoPlayer {
  background-color: $primary-color;
  width: 100%;
}

//---------------------------------
// QR code section
//---------------------------------

.qrCode {
  background-color: $light-color;
  padding-top: $spacing-4;
  padding-bottom: $spacing-4;
  width: 100%;
  height: auto;
  background-image: url("/images/background_4.png");
  background-size: cover;
  background-repeat: no-repeat;
}
